<div class="gradient-background">
    <div class="main-box">
        <div>
            <img src="/assets/me.png">
            <h1>Hello, my name is Carlos</h1>
            <div class="text">
                And if you are reading this, you are probably looking for an intern. Look no further! I am a junior Computer Science major and Actuarial Mathematics minor student at the University of Maryland. Go Terps! I am from La Paz, Bolivia, and moved to the United States when my dad relocated for work. I am a US citizen... So no need for sponsorship! I found my passion for STEM and Computer Science in high school when I took an introductory Java course. I have experience in Java, Python, C/C++, OCaml, and R. I have coded in HTML/CSS with Angular framework; if you count this website I made in 2 hours. I love being part of a team and collaborating when appropriate.
    On the other hand, there is nothing more satisfying than solving a problem independently. One of the reasons I decided to major in computer science was because I wanted to study something that could open doors in several industries. There are so many fields I am curious about, and I would love to learn more about your company. Please get in touch with me if you have any interest in hiring me!
            </div>
        </div>
    </div>
    <div class="main-box">
        <app-projects id = "projects"></app-projects>
    </div>
</div>


