<div>
    <div class="text-container">
        <h1>Projects</h1>
    </div>
        
    <ul>
        <li><a href="https://github.com/CGottret/GottretCarlos_Project3_CMSC330" class="link">Regular Expressions Engine</a></li>
        <li><a href="https://github.com/CGottret/GottretCarlos_Project5_CMSC330" class="link">Suit Repair with Threads</a></li>
        <li><a href="https://github.com/CGottret/GottretCarlos_Population-Density-Correlation-with-COVID-19-Deaths_STAT400" class="link">Population Density Correlation with COVID-19 Deaths</a></li>
        <li><a href="https://github.com/CGottret/CGottret-GottretCarlos_Project4_CMSC216" class="link">Calendar Event Manager</a></li>
        </ul>
</div>

